.divider-letter-metadata {
    margin: 40px 0;
}

h4.subheading-2 {
  margin-bottom: 0 !important;
}

.mat-mdc-list-item {
  min-height: 36px !important;
  height: auto !important;
  margin: 6px 0;
}
