<div class="full-size scroll-y-only">

    <kui-progress-indicator *ngIf="isLoading" [color]="'#D88958'"></kui-progress-indicator>




    <div *ngIf="!isLoading && props">

        <div class="sidebar">

            <button mat-stroked-button class="previousBtn" (click)="location.back()">
                <mat-icon>arrow_back</mat-icon>
                Previous
            </button>

            <section>
                <div *ngIf="props?.number[0]">
                    <h4 class="subheading-2">{{ontologyInfo?.getLabelForProperty(props?.number[0].propIri)}}</h4>
                    <p *ngFor="let no of props?.number" class="margin-left">
                        <read-text-value [valueObject]="no" [bindEvents]="false" [ontologyInfo]="ontologyInfo"></read-text-value>
                    </p>
                </div>
                <div *ngIf="props?.replyTo[0]">
                    <h4 class="subheading-2">
                        {{ontologyInfo?.getLabelForProperty(props?.replyTo[0].propIri)}}
                    </h4>


                    <mat-list>
                        <mat-list-item *ngFor="let rt of props?.replyTo">
                            <kui-link-value [valueObject]="rt" [ontologyInfo]="ontologyInfo" (referredResourceClicked)="resLinkClicked($event)"></kui-link-value>
                        </mat-list-item>
                    </mat-list>

                </div>

                <div *ngIf="props?.letterID[0]">
                    <h4 class="subheading-2">{{ontologyInfo?.getLabelForProperty(props?.letterID[0].propIri)}}</h4>

                    <p class="margin-left" appLeibnizPortal [letterID]="props?.letterID[0].getContent()"></p>
                </div>


                <div *ngIf="props?.location[0]">
                    <h4 class="subheading-2">{{ontologyInfo?.getLabelForProperty(props?.location[0].propIri)}}</h4>
                    <p *ngFor="let loc of props?.location" class="margin-left">
                        <read-text-value [valueObject]="loc" [bindEvents]="false" [ontologyInfo]="ontologyInfo"></read-text-value>
                    </p>

                </div>

                <div *ngIf="props?.language[0]">
                    <h4 class="subheading-2">{{ontologyInfo?.getLabelForProperty(props?.language[0].propIri)}}</h4>
                    <p *ngFor="let lang of props?.language" class="margin-left">
                        <read-text-value [valueObject]="lang" [bindEvents]="false" [ontologyInfo]="ontologyInfo"></read-text-value>
                    </p>
                </div>

                <div *ngIf="props?.letterURI[0]">
                    <kui-uri-value *ngFor="let uri of props?.letterURI" [valueObject]="uri" [label]=ontologyInfo?.getLabelForProperty(props?.letterURI[0].propIri) (referredResourceClicked)="resLinkClicked($event)"></kui-uri-value>
                </div>
                <div *ngIf="props?.citation[0]">
                    <h4 class="subheading-2">
                        {{ontologyInfo?.getLabelForProperty(props?.citation[0].propIri)}}</h4>
                    <mat-list>
                        <mat-list-item *ngFor="let ref of props?.citation">
                            <kui-link-value [valueObject]="ref" [ontologyInfo]="ontologyInfo" (referredResourceClicked)="resLinkClicked($event)"></kui-link-value>
                        </mat-list-item>
                    </mat-list>

                </div>
                <div *ngIf="props?.subject[0]">
                    <h4 class="subheading-2">{{ontologyInfo?.getLabelForProperty(props?.subject[0].propIri)}}</h4>

                    <mat-list>
                        <mat-list-item *ngFor="let subj of props?.subject">
                            <read-list-value [valueObject]="subj"></read-list-value>
                        </mat-list-item>
                    </mat-list>

                </div>
                <div *ngIf="props?.mentionedPerson[0]">
                    <h4 class="subheading-2">
                        {{ontologyInfo?.getLabelForProperty(props?.mentionedPerson[0].propIri)}}</h4>

                    <mat-list>
                        <mat-list-item *ngFor="let mp of props?.mentionedPerson">
                            <kui-link-value [valueObject]="mp" [ontologyInfo]="ontologyInfo" (referredResourceClicked)="resLinkClicked($event)"></kui-link-value>
                        </mat-list-item>
                    </mat-list>

                </div>

            </section>

        </div>


        <div class="main-content">

            <section class="title center">
                <p class="margin-left" *ngFor="let title of props?.title">
                    <b><read-text-value [valueObject]="title" [bindEvents]="true" [ontologyInfo]="ontologyInfo"></read-text-value></b>
                </p>
                <p class="names">
                <span *ngFor="let author of props?.author; let last = last">
                    <kui-link-value [valueObject]="author" [ontologyInfo]="ontologyInfo" (referredResourceClicked)="resLinkClicked($event)"></kui-link-value>
                    <span *ngIf="!last"> &amp; </span>
                </span>
                <span *ngFor="let recipient of props?.recipient; let last = last">
                    to
                    <kui-link-value [valueObject]="recipient" [ontologyInfo]="ontologyInfo" (referredResourceClicked)="resLinkClicked($event)"></kui-link-value>
                    <span *ngIf="!last"> &amp; </span>
                </span>
                </p>
                    <span *ngIf="props?.date[0]"><kui-date-value [valueObject]="props?.date[0]" [calendar]="true" [era]="true"></kui-date-value></span>
                <p>

            </section>
            <kui-progress-indicator *ngIf="isLoadingText" [color]="'#D88958'"></kui-progress-indicator>

            <div *ngIf="!isLoadingText && letter"  class="main-content without-sidebar">
                <div [mathJax]=letter.innerHTML [bindEvents]="false" [renderMath]="true"></div>
            </div>
            <section class="links">
                <div *ngIf="resource?.incomingLinks?.length > 0" class="incoming-link-position">
                    <p>
                        <strong>Referenced In:</strong>
                    </p>
                    <mat-list *ngFor="let incomingLinkSourceRes of resource.incomingLinks">
                        <mat-list-item>
                            <span class="link" (click)="showIncomingRes(incomingLinkSourceRes.id, incomingLinkSourceRes.type)">{{incomingLinkSourceRes.label}}</span>
                        </mat-list-item>
                    </mat-list>
                </div>
            </section>
        </div>

    </div>


</div>
