dist: xenial
sudo: required

services:
    - docker

language: node_js

node_js:
    - "12"

cache:
    yarn: true
    directories:
        - node_modules

addons:
    chrome: stable

script:
    - yarn install --prod=false
    - yarn test-ci
    - docker build .
