.link {
  cursor: pointer;
}

.fill-remaining-space {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
}

.full-size {
  height: 100%;
  width: 100%;
}

.scroll-y-only {
  overflow-x: hidden;
  overflow-y: auto;
}

.content {
  margin: 0 auto;
  max-width: 900px;
  padding: 48px;
  width: 80%;

}

// the logo is also the home button
.app-logo {
  height: 84px;

  img {
    height: 100%;
  }
}

// optimize search-bar from @knora/search module
.search-bar-elements {

  border-bottom: 1px solid $primary;
  position: relative;
  top: 24px;

  .search-panel {

    &:hover {
      box-shadow: none !important;
    }

    &.active {

    }
  }
}
