.link {
  cursor: pointer;
}

.fill-remaining-space {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
}

.full-size {
  height: 100%;
  width: 100%;
}

.scroll-y-only {
  overflow-x: hidden;
  overflow-y: auto;
}

.main-content {
  margin: 0 auto 0 $sidenav-width;
  max-width: 1000px;
  padding: 0 0 24px 0;
  width: calc(100vw - #{$sidenav-width} - 48px - 96px);

  &.without-sidebar {
    margin: 0 auto;
  }
}

.sidebar {
  position: fixed;
  width: calc(#{$sidenav-width} - 32px);
  height: calc(100vh - #{$header-height} - 48px);
  overflow-y: auto;
  padding: 0 16px;
}

.leoo-section {
  margin-top: 45px;
}
.lece-section {
  margin-top: 45px;
}
// the logo is also the home button
.app-logo {
  height: 84px;

  img {
    height: 100%;
  }
}

.container {
  margin: 12px 0 48px 0;
}

.flex-container {
  //  flex-direction: row;
  //  box-sizing: border-box;
  //  display: flex;
}

// cards on the landing page
.intro-card {
  // from corr-card
  //  position:static !important;
  //  margin: 15px;

  // from intro-card
  box-shadow: none !important;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  height: 60px !important;
  padding: 30px;
  margin: 5px;
  font-size: 1.1em;

  &:hover {
    background: rgba(133, 133, 133, .5);
  }

}

// optimize search-bar from @knora/search module
.search-bar-elements {
  border-bottom: 1px solid $primary;
  position: relative;

//  top: 24px;
//  left: calc(#{$sidenav-width} + 48px);

  .search-panel {

    &:hover {
      box-shadow: none !important;
    }

    &.active {

    }
  }
}

.previousBtn {
  color: $accent !important;
  margin: 0 auto 48px 24px !important;
  justify-content: center;
}

.title {
  margin-bottom: 64px;
}

.text {
  margin: 48px 24px;
  text-align: justify;
}

.osdPosition {
  margin-top: 64px;
}

p.margin-left {
  padding: 0 16px;
}

li.without-bullets {
  list-style: none;
}

.bolder, .bolder .rm-value{
  font-weight: bolder !important;
}

// table in Abbreviations
.introduction.text table {
  width: 100%;

  tr {

    &:nth-child(even) {
      background: rgba(33,33,33,.1);
    }

    td {

      padding: 4px 8px;
      width: calc(100% - 120px);

      &:first-child {
        width: 120px;
      }
    }
  }
}

