body {
  //height: 100vh;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100vw;
}


.main-container {
  height: 100%;

  // Main header with app logo and search panel
  .main-header {
    height: $header-height;
    position: fixed;
    top: 0;
    width: calc(100vw - 15px);
    background: #fff;
    padding-bottom: 48px;
    z-index: 100;
//    border-bottom: 2px solid $primary;

    .mat-toolbar {
      background: #fff;
      height: $header-height;

    }

  }

  // Main router for almost all content
  .main-router {
    margin-top: calc(#{$header-height} + 48px);
  }
}

.center {
  text-align: center;
}
