@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// colors
$bright: rgba(249, 249, 249, 1);
$dark: rgba(41, 41, 41, 1);

$mute: rgba(128, 128, 128, 0.8);

$accent: rgba(255, 196, 0, 1);
$primary: rgba(93, 64, 55, 1);
$warn: rgb(244, 67, 54);

// sizes
$header-height: 66px;

* {
  font-family: 'Roboto', sans-serif;
}
