<div class="full-size scroll-y-only">

    <dsp-progress-indicator *ngIf="isLoading" [color]="'#D88958'"></dsp-progress-indicator>

    <div *ngIf="!isLoading">

        <div class="sidebar">
            <button mat-stroked-button class="previousBtn" (click)="location.back()">
                <mat-icon>arrow_back</mat-icon>
                Previous
            </button>
        </div>

        <div class="main-content" [ngSwitch]="project">

            <ng-container *ngSwitchCase="'lece'">
                <h1>[Title]</h1>
                <div>
                    <div fxFlex fxLayout="row wrap" fxLayout.sm="column" fxlayout.xs="column" fxFlexFill>
                        <div fxFlex routerLink="introduction/leoo/goldbach_preface">
                            <mat-card class="intro-card" appearance="outlined">
                                <mat-card-content>Preface</mat-card-content>
                            </mat-card>
                        </div>
                        <div fxFlex routerLink="introduction/leoo/goldbach_abbreviations">
                            <mat-card class="intro-card" appearance="outlined">
                                <mat-card-content>List of Abbreviations</mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </div>

                <div>
                    <div fxFlex fxLayout="row wrap" fxLayout.sm="column" fxlayout.xs="column" fxFlexFill>
                        <div fxFlex routerLink="introduction/leoo/goldbach_introduction_1">
                            <mat-card class="intro-card" appearance="outlined">
                                <mat-card-content>Historical and biographical setting</mat-card-content>
                            </mat-card>
                        </div>
                        <div fxFlex routerLink="introduction/leoo/goldbach_introduction_2">
                            <mat-card class="intro-card" appearance="outlined">
                                <mat-card-content>Main subjects of the correspondence</mat-card-content>
                            </mat-card>
                        </div>
                        <div fxFlex routerLink="introduction/leoo/goldbach_introduction_3.1">
                            <mat-card class="intro-card" appearance="outlined">
                                <mat-card-content>Editing the Euler-Goldbach correspondence</mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngSwitchCase="'leoo'">
                <h1>[Title]</h1>
                <div class="container">
                    <div fxFlex fxLayout="row wrap" fxLayout.sm="column" fxlayout.xs="column" fxFlexFill>
                        <div fxFlex routerLink="introduction/lece/CondorcetTurgot_preface">
                            <mat-card class="intro-card" appearance="outlined">
                                <mat-card-content>Préface</mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div fxFlex fxLayout="row wrap" fxLayout.sm="column" fxlayout.xs="column" fxFlexFill>
                        <div fxFlex routerLink="introduction/lece/CondorcetMJA_Introduction">
                            <mat-card class="intro-card" appearance="outlined">
                                <mat-card-content>Correspondance d'Euler avec Condorcet</mat-card-content>
                            </mat-card>
                        </div>
                        <div fxFlex routerLink="introduction/lece/Turgot_Introduction">
                            <mat-card class="intro-card" appearance="outlined">
                                <mat-card-content>Correspondance d'Euler avec Turgot</mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </ng-container>

        </div>
    </div>
</div>
