<div class="full-size scroll-y-only">

    <dsp-progress-indicator *ngIf="isLoading" [color]="'#D88958'"></dsp-progress-indicator>

    <div *ngIf="!isLoading">


        <div class="sidebar">

            <button mat-stroked-button class="previousBtn" (click)="location.back()">
                <mat-icon>arrow_back</mat-icon>
                Previous
            </button>
        </div>

        <div class="main-content">
            <h3 mat-card-subtitle>{{ontologyInfo?.getLabelForResourceClass(resource?.type)}}</h3>
            <h2>{{resource?.label}}</h2>

            <div mat-line *ngFor="let prop of resource?.properties | keyvalue">

                <div *ngIf="prop.key === DspConstants.StillImageFileValue; else noImage">
                    <!-- resource has images attached directly, display them -->

                    <dsp-still-image #OSDViewer
                        *ngIf="!isLoading && resource.stillImageRepresentationsToDisplay.length > 0" class="osd-viewer"
                        [images]="resource?.stillImageRepresentationsToDisplay">
                    </dsp-still-image>
                </div>

                <ng-template #noImage>
                    <!-- resource has no images attached directly -->
                    <span>{{ontologyInfo?.getLabelForProperty(prop.key)}}</span>
                    <ul>
                        <li *ngFor="let val of prop.value | keyvalue">
                            <span [ngSwitch]="val.value.getClassName()">
                                <read-text-value-as-html *ngSwitchCase="DspConstants.TextValueAsHtml"
                                    [valueObject]="val.value" [ontologyInfo]="ontologyInfo" [bindEvents]="true">
                                </read-text-value-as-html>
                                <dsp-text-value-as-string *ngSwitchCase="DspConstants.TextValue"
                                    [displayValue]="val.value"></dsp-text-value-as-string>
                                <!-- NO XML VALUE COMPONENT: <dsp-text-value-as-xml *ngSwitchCase="KnoraConstants.ReadTextValueAsXml"
                                    [displayValue]="val.value"></dsp-text-value-as-xml> -->
                                <dsp-date-value *ngSwitchCase="DspConstants.DateValue" [displayValue]="val.value">
                                </dsp-date-value>
                                <dsp-link-value *ngSwitchCase="DspConstants.LinkValue" [displayValue]="val.value"
                                    [parentResource]="resource" [propIri]="resource.property.id">
                                </dsp-link-value>
                                <dsp-int-value *ngSwitchCase="DspConstants.IntValue" [displayValue]="val.value">
                                </dsp-int-value>
                                <dsp-decimal-value *ngSwitchCase="DspConstants.DecimalValue" [displayValue]="val.value">
                                </dsp-decimal-value>
                                <dsp-color-value *ngSwitchCase="DspConstants.ColorValue" [displayValue]="val.value">
                                </dsp-color-value>
                                <dsp-uri-value *ngSwitchCase="DspConstants.UriValue" [displayValue]="val.value">
                                </dsp-uri-value>
                                <dsp-boolean-value *ngSwitchCase="DspConstants.BooleanValue" [displayValue]="val.value">
                                </dsp-boolean-value>
                                <dsp-interval-value *ngSwitchCase="DspConstants.IntervalValue"
                                    [displayValue]="val.value"></dsp-interval-value>
                                <read-list-value *ngSwitchCase="DspConstants.ListValue" [valueObject]="val.value">
                                </read-list-value>
                                <!-- NO VALUE COMPONENT: <dsp-textfile-value *ngSwitchCase="KnoraConstants.TextFileValue"
                                    [displayValue]="val.value"></dsp-textfile-value> -->
                                <span *ngSwitchDefault="">Not supported {{val.value.getClassName()}}</span>
                            </span>
                        </li>
                    </ul>
                </ng-template>
            </div>

            <!-- Check for incoming images pointing to this resource -->
            <dsp-still-image #OSDViewer class="osd-viewer"
                *ngIf="!isLoading && resource?.incomingStillImageRepresentations?.length > 0 && resource.stillImageRepresentationsToDisplay.length > 0"
                [images]="resource?.stillImageRepresentationsToDisplay">
            </dsp-still-image>

            <br>
            <br>

            <div *ngIf="resource?.incomingLinks?.length > 0" class="incoming-link-position">
                <p>
                    <strong>Incoming Links:</strong>
                </p>
                <mat-list *ngFor="let incomingLinkSourceRes of resource.incomingLinks">
                    <mat-list-item>
                        <span class="link"
                            (click)="showIncomingRes(incomingLinkSourceRes.id, incomingLinkSourceRes.type)">{{incomingLinkSourceRes.label}}</span>
                    </mat-list-item>
                </mat-list>
            </div>
        </div>
    </div>

</div>
