<kui-progress-indicator *ngIf="loading"></kui-progress-indicator>
<div class="full-size scroll-y-only" *ngIf="!loading && props">

    <div class="sidebar">
        <button mat-stroked-button class="previousBtn" (click)="location.back()">
            <mat-icon>arrow_back</mat-icon>
            Previous
        </button>
    </div>

    <div class="main-content">

        <section class="title center">
            <h3 mat-card-subtitle>{{ontologyInfo?.getLabelForResourceClass(resource?.type)}}</h3>
            <h2>{{resource?.label}}</h2>
        </section>

        <section>
            <read-text-value-as-html [valueObject]="props.caption[0]" [ontologyInfo]="ontologyInfo" [bindEvents]="true"></read-text-value-as-html>
        </section>

        <div mat-line *ngFor="let prop of resource?.properties | key" class="center osdPosition">
            <div *ngIf="prop.key === KnoraConstants.hasStillImageFileValue">
                <kui-still-image #OSDViewer *ngIf="!loading && resource.stillImageRepresentationsToDisplay.length > 0" class="osd-viewer" [images]="resource?.stillImageRepresentationsToDisplay" [imageRangeStart]="0" [imageRangeEnd]="0" [imageChangeInterval]="1">
                </kui-still-image>
            </div>
        </div>

    </div>

</div>