<div class="full-size scroll-y-only">

    <div class="sidebar">

        <button mat-stroked-button class="previousBtn" (click)="location.back()">
            <mat-icon>arrow_back</mat-icon>Previous
        </button>

    </div>

    <div class="main-content">

        <section class="text">
            <h3 class="mat-title">Contact for Editorial Questions</h3>

            Bernoulli Euler Center, University of Basel<br/>
            Martin Mattmüller<br/>
            <a href="mailto:martin.mattmueller@unibas.ch">martin.mattmueller@unibas.ch</a><br/>

        </section>

        <section class="text">
            <h3 class="mat-title">Technical Contact</h3>

            Digital Humanities Lab, University of Basel<br/>
            Tobias Schweizer<br/>
            <a href="mailto:t.schweizer@unibas.ch">t.schweizer@unibas.ch</a><br/>

        </section>


        <mat-divider></mat-divider>

        <section class="links">
            <h3 class="mat-title">Github</h3>
            In case of a technical problem, please feel free to create an issue on our <a href="https://github.com/dhlab-basel/beol" target="_blank">github repo</a>.
        </section>


        <mat-divider></mat-divider>

        <!--
        <section class="text">
            <h3 class="mat-title">Contact Form</h3>
            <app-contact-form></app-contact-form>
        </section>
-->
    </div>
</div>
