<div class="full-size scroll-y-only">

    <div class="sidebar">

        <button mat-stroked-button class="previousBtn" (click)="location.back()">
            <mat-icon>arrow_back</mat-icon>Previous
        </button>

    </div>

    <div class="main-content">

        <section class="text">
            <h1 class="mat-headline">Contact for Editorial Questions</h1>

            Bernoulli Euler Center, University of Basel
            <br/> Martin Mattmüller
            <br/>
            <a href="mailto:martin.mattmueller@unibas.ch">martin.mattmueller@unibas.ch</a>
            <br/>

        </section>

        <mat-divider></mat-divider>

        <section class="text">
            <h2 class="mat-headline">Technical Contacts</h2>

            Digital Humanities Lab, University of Basel
            <ul>
                <li>Tobias Schweizer
                    <br/>
                    <a href="mailto:t.schweizer@unibas.ch">t.schweizer@unibas.ch</a>
                    <br/><br/>
                </li>
                <li>Sepideh Alassi
                    <br/>
                    <a href="mailto:sepideh.alassi@unibas.ch">sepideh.alassi@unibas.ch</a>
                    <br/><br/>
                </li>

            </ul>


        </section>

        <mat-divider></mat-divider>

        <section class="links">
            <h2 class="mat-headline">Github</h2>
            In case of a technical problem, please feel free to create an issue on our
            <a href="https://github.com/dhlab-basel/beol" target="_blank">github repo</a>.
        </section>


        <!--
        <section class="text">
            <h3 class="mat-title">Contact Form</h3>
            <app-contact-form></app-contact-form>
        </section>
        -->

    </div>
</div>
