<div class="full-size scroll-y-only">
    <div class="main-content">

        <section class="title">
            <h3 class="mat-title">BEOL</h3>
            TODO: BEOL contact info
        </section>

        <mat-divider></mat-divider>

        <section class="text">
            <h3 class="mat-title">Contact</h3>

            TODO: add address
        </section>


        <mat-divider></mat-divider>

        <section class="links">
            <h3 class="mat-title">Links</h3>
            TODO: add links
        </section>


        <mat-divider></mat-divider>


        <section class="text">
            <h3 class="mat-title">Contact Form</h3>
            <app-contact-form></app-contact-form>
        </section>

    </div>
</div>
