.correspondence-container {
  margin: 1rem;
}

.portrait-container {
  border: 1px solid #dfdfdf;
  background-color: #F1F1F1;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 300px;
  cursor: pointer;
}

.portrait-container:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.portrait-image {
  height: 160px;
  width: 120px;
}

.portrait-text {
  padding: 1rem;
}
