<div [ngSwitch]="project">

  <!-- display the correspondences of the LEOO project -->
  <div *ngSwitchCase="'leoo'">
    <div *ngFor="let book of leoo">
      <div *ngFor="let corrGroup of book.correspondences">
        <b>Correspondences {{corrGroup.description}}</b>
        <mat-card class="corr-card" *ngFor="let corr of corrGroup.correspondences" (click)="searchForCorrespondence(corr.correspondent1.gnd, corr.correspondent2.gnd, corr.noTranslation)">
          {{corr.description}}
        </mat-card>
      </div>
    </div>
  </div>

  <!-- display the correspondences of the BEBB project -->
  <div *ngSwitchCase="'bebb'">
    <div *ngFor="let corrGroup of wiki">
      <span>
        Correspondence from
        <b>{{corrGroup.mainCorrespondent.name}}</b> to

        <mat-form-field>
          <mat-select>
            <div *ngFor="let section of corrGroup.sections">
              <div *ngFor="let corr of section.correspondences">
                <mat-option [value]="corr.correspondent2.name" (click)="searchForCorrespondence(corr.correspondent1.gnd, corr.correspondent2.gnd)">
                  {{corr.correspondent2.name}}
                </mat-option>
              </div>
            </div>
          </mat-select>
        </mat-form-field>
      </span>

    </div>
  </div>

  <!-- in case the project name does not exist -->
  <div *ngSwitchDefault>
    <b>The project you are looking for does not exist !</b>
  </div>

</div>