<div class="correspondence-container" [ngSwitch]="project">

    <!-- display the correspondences of the LEOO project -->
    <div *ngSwitchCase="'leooIV'">
        <div *ngFor="let book of leooIV">
            <div *ngFor="let corrGroup of book.correspondences">
                <p>
                    <strong>Correspondence {{corrGroup.description}}</strong>
                </p>
                <div class="container">
                    <div fxFlex fxLayout="row wrap" fxLayout.sm="column" fxlayout.xs="column" fxFlexFill>
                        <mat-card appearance="outlined" class="intro-card" fxFlex *ngFor="let corr of corrGroup.correspondences" (click)="searchForLeooCorrespondence(corr.correspondent1.gnd, corr.correspondent2.gnd, corr.showTranslation)">
                            <mat-card-content>{{corr.description}}</mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- display the correspondences of the LECE project -->
    <div *ngSwitchCase="'lece'">
        <div *ngFor="let corrGroup of lece">
            <p>Correspondence between
                <strong>{{corrGroup.mainCorrespondent.name}}</strong> and
                <!-- select list to choose the recipient name (among one or several choices) -->
                <mat-form-field>
                    <mat-select placeholder="Select Correspondent">
                        <div *ngFor="let section of corrGroup.sections">
                            <div *ngFor="let corr of section.correspondences">
                                <mat-option [value]="corr.correspondent2.name" (click)="searchForCorrespondence(corr.correspondent1.gnd, corr.correspondent2.gnd)">
                                    {{corr.correspondent2.name}}
                                </mat-option>
                            </div>
                        </div>
                    </mat-select>
                </mat-form-field>
            </p>
        </div>
    </div>

    <!-- display the correspondences of the BEBB project -->
    <div *ngSwitchCase="'bebb'">
        <div *ngFor="let corrGroup of wiki">

            <p>Correspondence between
                <strong>{{corrGroup.mainCorrespondent.name}}</strong> and
                <!-- select list to choose the recipient name (among one or several choices) -->
                <mat-form-field>
                    <mat-select placeholder="Select Correspondent">
                        <div *ngFor="let section of corrGroup.sections">
                            <div *ngFor="let corr of section.correspondences">
                                <mat-option [value]="corr.correspondent2.name" (click)="searchForCorrespondence(corr.correspondent1.gnd, corr.correspondent2.gnd)">
                                    {{corr.correspondent2.name}}
                                </mat-option>
                            </div>
                        </div>
                    </mat-select>
                </mat-form-field>
            </p>

        </div>
    </div>

    <!-- display the correspondences of the NEWTON project -->
    <div *ngSwitchCase="'newton'">
        <div *ngFor="let thirdPartyProject of newton">
            <div class="portrait-container" (click)="searchForNewtonCorrespondence()">
                <img class="portrait-image" alt="Portrait of Isaac Newton" src="assets/images/newton.jpg">
                <div class="portrait-text">{{thirdPartyProject.description}}</div>
            </div>
        </div>
    </div>
    <div *ngSwitchCase="'leibniz'">
        <div *ngFor="let thirdPartyProject of leibniz">
            <div class="portrait-container" (click)="searchForLeibnizCorrespondence()">
                <img class="portrait-image" alt="Portrait of Gottfried Wilhelm Leibniz" src="assets/images/leibniz.jpeg">
                <div class="portrait-text">{{thirdPartyProject.description}}</div>
            </div>
        </div>

    </div>

    <!-- in case the project name does not exist -->
    <div *ngSwitchDefault>
        <p>
            <strong>The project you are looking for does not exist!</strong>
        </p>
    </div>

</div>
