<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
        <mat-form-field class="medium">
            <input matInput type="text" placeholder="Name" [formControl]="form.controls['name']">
            <mat-hint *ngIf="formErrors.name">
                {{ formErrors.name }}
            </mat-hint>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="medium">
            <input matInput type="text" placeholder="Email" [formControl]="form.controls['email']">
            <mat-hint *ngIf="formErrors.email">
                {{ formErrors.email }}
            </mat-hint>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="medium">
            <textarea matInput placeholder="Feedback" [formControl]="form.controls['feedback']" rows="8"></textarea>
            <mat-hint *ngIf="formErrors.feedback">
                {{ formErrors.feedback }}
            </mat-hint>
        </mat-form-field>
    </div>

    <div>
        <!--<re-captcha (resolved)="resolved($event)"></re-captcha>-->
    </div>

    <div class="contact-actions">
        <button mat-button type="button" (click)="resetForm()" [disabled]="!form.dirty">
            reset
            <!--<mat-icon aria-label="reset query form">clear</mat-icon>-->
        </button>
        <span class="fill-remaining-space"></span>
        <button mat-raised-button type="submit" [color]="'accent'" [disabled]="form.invalid || !captchaValid">
            SEND
            <!--<mat-icon aria-label="submit query">send</mat-icon>-->
        </button>
    </div>
</form>

<div class="privacy">
    <strong>Privacy</strong>
    <p>
        Your message will be stored in an <a target="_blank" href="http://firebase.google.com">Angular Firebase database</a>.<br>
        Please do not submit any sensitive information (e.g., passwords)
    </p>

</div>
