<div class="full-size scroll-y-only">

    <div *ngIf="!isLoading && resource?.stillImageRepresentationsToDisplay.length > 0">
        <kui-still-image #OSDViewer
                         class="osd-viewer"
                         [images]="resource?.stillImageRepresentationsToDisplay"
                         [activateRegion]="activeRegion"
                         (regionHovered)="regionActive($event)">
        </kui-still-image>
    </div>

    <div style="height: 200px;">
    </div>

    <div *ngIf="!isLoading && transcriptionIrisReady && transcription !== undefined">
        <read-text-value-as-html
            [valueObject]="transcription" [ontologyInfo]="ontologyInfo"
            [bindEvents]="true"></read-text-value-as-html>
    </div>

    <br/>
    <div *ngIf="!isLoading && manuscriptEntries.length > 0">
        <div>Manuscript entries pointing to this region:</div>
        <mat-list>
            <mat-list-item *ngFor="let entry of manuscriptEntries">
                <span (click)="goToResource(entry.type, entry.id)">{{entry.label}}</span>
            </mat-list-item>
        </mat-list>
    </div>

</div>
