<div class="full-size scroll-y-only">

    <kui-progress-indicator *ngIf="isLoading" [color]="'#D88958'"></kui-progress-indicator>

    <div *ngIf="!isLoading && props">

        <div class="sidebar">

            <button mat-stroked-button class="previousBtn" (click)="location.back()">
                <mat-icon>arrow_back</mat-icon>
                Previous
            </button>

        </div>


        <div class="main-content">
            <section class="center">
                <h2 *ngIf="resource.label; else name" class="mat-display-1 margins">{{resource?.label}}</h2>
                <ng-template #name>
                    <h2 *ngIf="props?.name[0]"><read-text-value class="margin-left" [valueObject]="props?.name[0]" [ontologyInfo]="ontologyInfo" [bindEvents]="true">
                    </read-text-value></h2>
                </ng-template>
                <p class="mat-subheading-2" *ngIf="props?.alternative[0]">
                    <span *ngFor="let alt of props?.alternative; let last = last"><read-text-value class="margin-left" [valueObject]="alt" [ontologyInfo]="ontologyInfo" [bindEvents]="false">
                </read-text-value>
                        <span *ngIf="!last">, </span>
                    </span>
                </p>
                <p mat-line>
                    <span *ngIf="props?.birthDate[0]">
                        * <kui-date-value [valueObject]="props?.birthDate[0]" [calendar]="false" [era]="true"></kui-date-value>
                    </span>

                    <span *ngIf="props?.birthPlace[0]"> in <read-text-value class="margin-left" [valueObject]="props?.birthPlace[0]" [ontologyInfo]="ontologyInfo" [bindEvents]="false">
                </read-text-value></span>

                    <span *ngIf="props?.birthDate[0] && props?.deathDate[0]"> &ndash; </span>

                    <span *ngIf="props?.deathDate[0]">
                        † <kui-date-value [valueObject]="props?.deathDate[0]" [calendar]="false" [era]="true"></kui-date-value>
                    </span>

                    <span *ngIf="props?.deathPlace[0]"> in <read-text-value class="margin-left" [valueObject]="props?.deathPlace[0]" [ontologyInfo]="ontologyInfo" [bindEvents]="false">
                </read-text-value></span>
                </p>
            </section>


            <section class="text comment" *ngIf="props?.comment[0]">
                <span *ngFor="let com of props?.comment">
                    <read-text-value class="margin-left" [valueObject]="com" [ontologyInfo]="ontologyInfo" [bindEvents]="true"></read-text-value>
                </span>
            </section>

            <section class="links">

                <div *ngIf="props?.name[0]">
                    <h4 class="subheading-2">{{ontologyInfo?.getLabelForProperty(props?.name[0].propIri)}}</h4>
                    <p><read-text-value class="margin-left" [valueObject]="props?.name[0]" [ontologyInfo]="ontologyInfo" [bindEvents]="false">
                    </read-text-value></p>
                </div>

                <div *ngIf="props?.IAF[0]">
                    <h4 class="subheading-2">{{ontologyInfo?.getLabelForProperty(props?.IAF[0].propIri)}}</h4>
                    <p class="mat-list-item-content" [gnd]="props?.IAF[0].getContent()"></p>
                </div>

                <div *ngIf="props?.publisherLocation[0]">
                    <h4 class="subheading-2">{{ontologyInfo?.getLabelForProperty(props?.publisherLocation[0].propIri)}}</h4>
                    <p><read-text-value class="margin-left" [valueObject]="props?.publisherLocation[0]" [ontologyInfo]="ontologyInfo" [bindEvents]="false">
                    </read-text-value></p>
                </div>

                <div *ngIf="props?.mentioned[0]">
                    <h4 class="subheading-2">{{ontologyInfo?.getLabelForProperty(props?.mentioned[0].propIri)}}: </h4>
                    <p *ngFor="let ment of props?.mentioned; let last = last">
                        <read-text-value class="margin-left" [valueObject]="ment" [ontologyInfo]="ontologyInfo" [bindEvents]="false">
                        </read-text-value>
                    </p>
                </div>
            </section>

            <section class="links">
                <!-- Incoming links? -->
                <!--<div *ngFor=""></div>-->
            </section>

        </div>
    </div>

</div>
