<kui-progress-indicator *ngIf="loading"></kui-progress-indicator>
<div class="full-size scroll-y-only" *ngIf="!loading">
    <div class="main-content">
        <section class="title">
            <h4 class="mat-subheading-1">{{ontologyInfo?.getLabelForResourceClass(resource?.type)}}</h4>
            <h2 class="mat-display-1 margins">{{resource?.label}}</h2>
            <p class="mat-subheading-2" *ngIf="props?.alternative">
                <span *ngFor="let alt of props.alternative; let last = last">{{alt.str}}<span *ngIf="!last">, </span></span>
            </p>
            <p mat-line>
                <span *ngIf="props.birthDate">* {{props.birthDate}}</span>
                <span *ngIf="props.birthPlace"> in {{props.birthPlace}}</span>
                <span *ngIf="props.birthDate && props.deathDate"> &ndash; </span>
                <span *ngIf="props.deathDate">† {{props.deathDate}}</span>
                <span *ngIf="props.deathPlace"> in {{props.deathPlace}}</span>
            </p>
        </section>

        <mat-divider></mat-divider>

        <section class="text">
            <p *ngFor="let c of props.comment">
                {{c.str}}
            </p>
        </section>

        <mat-divider></mat-divider>

        <section class="links">
            <div *ngIf="props.IAF">
                <h4 class="subheading-2">GND: </h4>
                <p class="mat-list-item-content" [gnd]="props.IAF"></p>
            </div>


            <div *ngIf="props.mentioned">
                <h4 class="subheading-2">{{ontologyInfo?.getLabelForProperty(props.mentioned[0].propIri)}}: </h4>
                <p *ngFor="let m of props.mentioned; let last = last">
                    {{m.str}}
                </p>
            </div>
        </section>

        <mat-divider></mat-divider>

        <section class="links">
            <!-- Incoming links? -->
            <!--<div *ngFor=""></div>-->
        </section>


    </div>
</div>
