.text {
  margin: 48px 0;
}

.links {

  div {
    margin-bottom: 48px;
  }

  p {
    margin-left: 24px;
  }

}

.margins {
  margin-top: 48px;
  margin-bottom: 0;
}

.divider {
  margin: 48px 0 24px 0;
}
