<span [ngSwitch]="valueType">

    <dsp-text-value-as-string *ngSwitchCase="'ReadTextValueAsString'"
                              [displayValue]="valueObject">
    </dsp-text-value-as-string>

    <!--<dsp-text-value-as-xml *ngSwitchCase="ReadTextValueAsXml"
                           [displayValue]="valueObject">
    </dsp-text-value-as-xml>-->

    <read-text-value-as-html *ngSwitchCase="'ReadTextValueAsHtml'"
                             [valueObject]="valueObject"
                             [resource]="resource"
                             [bindEvents]="bindEvents"
                             [renderFigureRegions]="renderFigureRegions">
    </read-text-value-as-html>

</span>
