<header class="main-header">
    <mat-toolbar>
        <!-- on the left: logo = home button -->
        <div class="app-logo">
            <a routerLink="/">
                <img src="assets/images/beol-logo.png" />
            </a>
        </div>

        <div class="fill-remaining-space"></div>

        <!-- center: search bar -->
        <kui-search [route]="'/search'"></kui-search>

        <div class="fill-remaining-space"></div>

        <!-- on the right: nothing? -->

    </mat-toolbar>
</header>

<div class="main-content scroll-y-only">
    <router-outlet></router-outlet>
</div>

<footer>

</footer>
