<div class="main-container">
    <!-- main header with logo and search panel
            - this element has a fixed position
            - it's displayed on each page
    -->
    <header class="main-header">
        <mat-toolbar>
            <!-- on the left: logo = home button -->
            <div class="app-logo">
                <a routerLink="/">
                    <img src="assets/images/beol-logo.png" />
                </a>
            </div>

            <div class="fill-remaining-space"></div>

            <!-- center: search bar -->
            <kui-search-panel [advanced]="true" [route]="'/search'" [expert]="false">
            </kui-search-panel>

            <div class="fill-remaining-space"></div>

            <!-- on the right: nothing? -->

        </mat-toolbar>
    </header>

    <!-- main router outlet for the content of each component,
            defined in app.routing
    -->
    <div class="main-router">
        <router-outlet></router-outlet>
    </div>

    <!-- main footer
        - not yet implemented; but we can activate it,
        if it's necessary and desired (but then it needs some styling changes in _layout.scss!)
    -->
    <footer>

    </footer>
</div>
