.intro-card {
  box-shadow: none !important;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  text-align: center;
  height: 60px;
  padding: 30px;
  margin: 5px;
}
section {
  padding: 24px 0 48px 0;
}