section {
  padding: 24px 0 48px 0;
}

.biographies {
  ul {
    list-style-type: none;
    display: grid;
    padding-inline-start: 0;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 1rem;

    li {
      display: flex;
      flex-direction: row-reverse;
      border: 1px solid #dfdfdf;
      background-color: #F1F1F1;
      align-items: center;
      cursor: pointer;

      h4 {
        flex-grow: 1;
        text-align: center;
        font-weight: normal;
        margin-inline-start: 1rem;
        margin-inline-end: 1rem;
      }

      img {
        height: 160px;
        width: 120px;
        object-fit: cover;
      }
    }

    li:hover {
      background-color: rgba(20, 20, 20, 0.2);
    }
  }
}

.third-party-projects {
  ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    padding-inline-start: 0;
    justify-content: space-around;

    li {
      border: 1px solid #dfdfdf;
      background-color: #F1F1F1;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      max-width: 300px;
      cursor: pointer;

      h4 {
        padding: 1rem;
        font-weight: normal;
      }

      img {
        height: 160px;
        width: 120px;
        object-fit: cover;
      }
    }

    li:hover {
      background-color: rgba(20, 20, 20, 0.2);
    }
  }
}

@media only screen and (max-width: 960px) {
  .third-party-projects {
    ul {
      flex-direction: column;
      align-items: center;
    }
  }
}
