<div class="full-size scroll-y-only">
    <div class="main-content without-sidebar">

        <section>
            <h3 mat-card-subtitle>BEOL | Beta release</h3>
            <h1 mat-card-title>Bernoulli Euler Online</h1>
            <p>
                The
                <a target="_blank" href="http://dhlab.unibas.ch/beol/">Bernoulli-Euler Online (BEOL)</a> project is a research platform for the study of early modern mathematics and science.
            </p>
        </section>


        <mat-divider></mat-divider>

        <section>
            <!--<h3 mat-card-subtitle>Leonhardi Euleri Opera Omnia (LEOO)</h3>-->
            <h2 mat-card-title>Leonhard Euler's correspondence with Goldbach</h2>
            <div class="leoo-section">
                <div class="container">
                    <div class="flex-container" fxFlex fxLayout="row wrap" fxLayout.sm="column" fxlayout.xs="column" fxFlexFill>
                        <div fxFlex routerLink="introduction/leoo/goldbach_preface">
                            <mat-card class="intro-card" fxFlex>
                                Preface
                            </mat-card>
                        </div>
                        <div fxFlex routerLink="introduction/leoo/goldbach_abbreviations">
                            <mat-card class="intro-card" fxFlex>
                                List of Abbreviations
                            </mat-card>
                        </div>
                    </div>
                </div>

                <p fxLayout="column"><strong>Introduction</strong></p>
                <div class="container">
                    <div class="flex-container" fxFlex fxLayout="row wrap" fxLayout.sm="column" fxlayout.xs="column" fxFlexFill>
                        <div fxFlex routerLink="introduction/leoo/goldbach_introduction_1">
                            <mat-card class="intro-card">
                                Historical and biographical setting
                            </mat-card>
                        </div>
                        <div fxFlex routerLink="introduction/leoo/goldbach_introduction_2">
                            <mat-card class="intro-card">
                                Main subjects of the correspondence
                            </mat-card>
                        </div>
                        <div fxFlex routerLink="introduction/leoo/goldbach_introduction_3.1">
                            <mat-card class="intro-card">
                                Editing the Euler-Goldbach correspondence
                            </mat-card>
                        </div>

                    </div>
                </div>

            </div>

            <div class="leoo-section">
                <app-correspondence [project]="'leooIV'"></app-correspondence>
            </div>

        </section>
        <mat-divider></mat-divider>
        <section>
            <!--<h3 mat-card-subtitle>Leonhardi Euleri Commercium Epistolicum (LECE)</h3>-->
            <h2 mat-card-title>Correspondance d'Euler avec Condorcet et Turgot</h2>

            <div class="leoo-section">
                <div class="container">
                <div class="flex-container" fxFlex fxLayout="row wrap" fxLayout.sm="column" fxlayout.xs="column" fxFlexFill>
                    <div fxFlex routerLink="introduction/lece/CondorcetTurgot_preface">
                        <mat-card class="intro-card" fxFlex>
                            Préface
                        </mat-card>
                    </div>
                </div>
            </div>
            </div>
            <p fxLayout="column"><strong>Introduction</strong></p>
            <div class="container">
                <div class="flex-container" fxFlex fxLayout="row wrap" fxLayout.sm="column" fxlayout.xs="column" fxFlexFill>
                    <div fxFlex routerLink="introduction/lece/CondorcetMJA_Introduction">
                        <mat-card class="intro-card" fxFlex>
                            Correspondance d'Euler avec Condorcet
                        </mat-card>
                    </div>
                    <div fxFlex routerLink="introduction/lece/Turgot_Introduction">
                        <mat-card class="intro-card" fxFlex>
                            Correspondance d'Euler avec Turgot
                        </mat-card>
                    </div>
                </div>
            </div>
            <div class="lece-section">
                <app-correspondence [project]="'lece'"></app-correspondence>

            </div>

        </section>
        <mat-divider></mat-divider>

        <section>
            <h2 mat-card-title>Meditationes, Annotationes, Animadversiones Theologicae & Philosophicae</h2>
            <div>
                <mat-card class="intro-card" fxFlex
                          (click)="searchForManuscriptEntries('http://rdfh.ch/0801/HSmk8KWbQjy6YCqnBrwYgA')">
                    Entries in the Meditations
                </mat-card>
            </div>
        </section>

        <mat-divider></mat-divider>

        <section>
            <!--<h3 mat-card-subtitle>BEBB</h3>-->
            <h2 mat-card-title>Basler Edition der Bernoulli-Briefwechsel</h2>
            <app-correspondence [project]="'bebb'"></app-correspondence>
        </section>

        <mat-divider></mat-divider>
        <section>
            <h2 mat-card-title>Third Party Projects</h2>
            <app-correspondence [project]="'newton'"></app-correspondence>
        </section>
        <section>
            <h3 mat-card-subtitle>Technical background</h3>
            <h2 mat-card-title>Database</h2>
            <p>
                BEOL is implemented within
                <a target="_blank" href="http://www.knora.org">Knora</a> &mdash; a generic virtual research environment (VRE) for the humanities, built with
                <a target="_blank" href="https://npmjs.com/~knora">Knora-ui modules</a>.
            </p>

            <h2 mat-card-title>Feedback</h2>
            <p>
                In case you experience any problems using the BEOL Beta Release or have suggestions on how to improve the platform,
                <br>please <a href="/contact">contact</a> us.
            </p>
        </section>


        <mat-divider></mat-divider>

        <section>
            <h3 mat-card-subtitle>BEOL Basel</h3>
            <h2 mat-card-title>About us</h2>

            <p>
                BEOL is a <a href="http://p3.snf.ch/project-166072" target="_blank">project</a> funded by the Swiss National Science Foundation. It is a collaboration between the
                <a target="_blank" href="http://bez.unibas.ch">Bernoulli-Euler Centre</a> and the
                <a target="_blank" href="http://www.dhlab.unibas.ch">Digital Humanities Lab</a> (both University of Basel).
            </p>
        </section>

    </div>
</div>
