<div class="full-size scroll-y-only">
    <div class="main-content">

        <section>
            <h3 mat-card-subtitle>BEOL | beta release</h3>
            <h1 mat-card-title>Bernoulli Euler Online</h1>
            <p>
                The
                <a target="_blank" href="http://dhlab.unibas.ch/beol/">Bernoulli-Euler Online (BEOL)</a> project is a research platform for the study of early modern mathematics and science.
                <br> This Beta release integrates the two edition projects Basler Edition der Bernoulli-Briefwechsel (BEBB) and Leonhardi Euleri Opera Omnia (LEOO) IVA/IV into one platform.
                <br> As a next step, Jacob Bernoulli's scientific notebook
                <em>Meditationes</em> will be also integrated in this platform.
            </p>
        </section>


        <mat-divider></mat-divider>

        <section>
            <h3 mat-card-subtitle>LEOO</h3>
            <h2 mat-card-title>Leonhardi Euleri Opera Omnia</h2>

            <div class="leoo-section">
                <b>Introductions</b>
                <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%">
                    <div fxFlex="25%" routerLink="introduction/leoo/goldbach_introduction_1">
                        <mat-card class="intro-card">
                            Historical and biographical setting
                        </mat-card>
                    </div>
                    <div fxFlex="25%" routerLink="introduction/leoo/goldbach_introduction_2">
                        <mat-card class="intro-card">
                            Main subjects of the correspondence
                        </mat-card>
                    </div>
                    <div fxFlex="25%" routerLink="introduction/leoo/goldbach_introduction_3">
                        <mat-card class="intro-card">
                            Editing the Euler-Goldbach correspondence
                        </mat-card>
                    </div>
                    <div fxFlex="25%" routerLink="introduction/leoo/goldbach_abbreviations">
                        <mat-card class="intro-card">
                            List of Abbreviations
                        </mat-card>
                    </div>
                </div>
            </div>

            <div class="leoo-section">
                <app-correspondence [project]="'leoo'"></app-correspondence>
            </div>
        </section>

        <mat-divider></mat-divider>

        <section>
            <h3 mat-card-subtitle>BEBB</h3>
            <h2 mat-card-title>Basler Edition der Bernoulli-Briefwechsel</h2>
            <app-correspondence [project]="'bebb'"></app-correspondence>
        </section>

        <mat-divider></mat-divider>

        <section>
            <h3 mat-card-subtitle>Technical background</h3>
            <h2 mat-card-title>Database</h2>
            <p>
                BEOL is implemented within
                <a target="_blank" href="http://www.knora.org">Knora</a> &mdash; a generic virtual research environment (VRE) for the humanities, built with
                <a target="_blank" href="https://npmjs.com/~knora">Knora-ui modules</a>.
            </p>

            <h2 mat-card-title>Known issues</h2>

            <p>
                This is a beta release and the BEOL platform is still under development. Please find below the issues we are already aware of:
            </p>
            <mat-list>
                <mat-list-item>
                    Mathematics is rendered slowly on the result list of a fulltext search (
                    <a target="_blank" href="https://github.com/dhlab-basel/Salsah/issues/184">#184</a>)
                </mat-list-item>
            </mat-list>

            <h2 mat-card-title>Feedback</h2>
            <p>
                In case you experience any problems using the BEOL Beta Release or have suggestions on how to improve the platform,
                <br>please contact us using our
                <a href="/contact">contact form</a> or send an email to a member of
                <a target="_blank" href="http://dhlab.unibas.ch/tobias-schweizer">the BEOL team</a>.
            </p>
        </section>


        <mat-divider></mat-divider>

        <section>
            <h3 mat-card-subtitle>BEOL Basel</h3>
            <h2 mat-card-title>About us</h2>

            <p>
                BEOL is a project funded by the Swiss National Science Foundation. It is a collaboration between the
                <a target="_blank" href="http://bez.unibas.ch">Bernoulli-Euler Centre</a> and the
                <a target="_blank" href="http://www.dhlab.unibas.ch">Digital Humanities Lab</a> (both University of Basel).
            </p>
        </section>

    </div>
</div>
