<div class="full-size scroll-y-only">
    <div class="main-content without-sidebar">

        <section>
            <h1 mat-card-title>BEOL</h1>
            <h2>Bernoulli Euler Online</h2>
            <p>
                The
                <a target="_blank" href="https://bez.unibas.ch/de/projekte/bernoulli-euler-online/">Bernoulli-Euler Online (BEOL)</a> project is a
                research platform for the study of early modern mathematics and science. It aims at integrating
                works and correspondence of members of Bernoulli dynasty and Leonhard Euler.
            </p>
            <p>
                Currently, the BEOL platform contains three
                main editions: <em>Basler Edition der Bernoulli-Briefwechsel (ongoing)</em>, <em>Leonhard Euler's correspondence with
                Christian Goldbach (Leonhardi Euleri Opera Omnia IVA/IV)</em>, and a multi-layered interactive edition of Jacob Bernoulli's scientific notebook <em>Meditationes</em>.
                The platform also contains the edition of Leonhard Euler's correspondence with the
                Marquis de Condorcet and Turgot.
            </p>
            <p>
                BEOL is connected to the repositories of <a href="http://www.newtonproject.ox.ac.uk/">The Newton Project</a>
                and the <a href="http://leibniz-briefportal.adw-goe.de/start">Briefportal Leibniz</a> initiating the formation
                of a network of digital editions of the correspondence among the early modern natural philosophers.
            </p>
        </section>

        <mat-divider></mat-divider>

        <section class="biographies">
            <h3>Mathematicians from Basel</h3>
            <ul>
                <li (click)="openBiography('Jacob I Bernoulli')">
                    <h3>Jacob I Bernoulli</h3>
                    <img src="assets/images/leibniz.jpeg" alt="portrait of Jacob I Bernoulli">
                </li>
                <li (click)="openBiography('Johann I Bernoulli')">
                    <h3>Johann I Bernoulli</h3>
                    <img src="assets/images/leibniz.jpeg" alt="portrait of Johann I Bernoulli">
                </li>
                <li (click)="openBiography('Nicolaus I Bernoulli')">
                    <h3>Nicolaus I Bernoulli</h3>
                    <img src="assets/images/leibniz.jpeg" alt="portrait of Nicolaus I Bernoulli">
                </li>
                <li (click)="openBiography('Nicolaus II Bernoulli')">
                    <h3>Nicolaus II Bernoulli</h3>
                    <img src="assets/images/leibniz.jpeg" alt="portrait of Nicolaus II Bernoulli">
                </li>
                <li (click)="openBiography('Daniel I Bernoulli')">
                    <h3>Daniel I Bernoulli</h3>
                    <img src="assets/images/leibniz.jpeg" alt="portrait of Daniel Bernoulli">
                </li>
                <li (click)="openBiography('Johann II Bernoulli')">
                    <h3>Johann II Bernoulli</h3>
                    <img src="assets/images/leibniz.jpeg" alt="portrait of Johann II Bernoulli">
                </li>
                <li (click)="openBiography('Johann III Bernoulli')">
                    <h3>Johann III Bernoulli</h3>
                    <img src="assets/images/leibniz.jpeg" alt="portrait of Johann III Bernoulli">
                </li>
                <li (click)="openBiography('Jacob II Bernoulli')">
                    <h3>Jacob II Bernoulli</h3>
                    <img src="assets/images/leibniz.jpeg" alt="portrait of Jacob II Bernoulli">
                </li>
                <li (click)="openBiography('Jacob Hermann')">
                    <h3>Jacob Hermann</h3>
                    <img src="assets/images/leibniz.jpeg" alt="portrait of Jacob Hermann">
                </li>
                <li (click)="openBiography('Leonhard Euler')">
                    <h3>Leonhard Euler</h3>
                    <img src="assets/images/leibniz.jpeg" alt="portrait of Leonhard Euler">
                </li>
                <li (click)="openBiography('Johann Albrecht Euler')">
                    <h3>Johann Albrecht Euler</h3>
                    <img src="assets/images/leibniz.jpeg" alt="portrait of Johann Albrecht Euler">
                </li>
                <li (click)="openBiography('Nicolaus Fuss')">
                    <h3>Nicolaus Fuss</h3>
                    <img src="assets/images/leibniz.jpeg" alt="portrait of Nicolaus Fuss">
                </li>
            </ul>
        </section>

        <mat-divider></mat-divider>

        <section>
            <!--<h3 mat-card-subtitle>Leonhardi Euleri Opera Omnia (LEOO)</h3>-->
            <h2 mat-card-title>Leonhard Euler's correspondence with Goldbach</h2>
            <div class="leoo-section">
                <div class="container">
                    <div fxFlex fxLayout="row wrap" fxLayout.sm="column" fxlayout.xs="column" fxFlexFill>
                        <div fxFlex routerLink="introduction/leoo/goldbach_preface">
                            <mat-card class="intro-card" appearance="outlined">
                                <mat-card-content>Preface</mat-card-content>
                            </mat-card>
                        </div>
                        <div fxFlex routerLink="introduction/leoo/goldbach_abbreviations">
                            <mat-card class="intro-card" appearance="outlined">
                                <mat-card-content>List of Abbreviations</mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </div>

                <p fxLayout="column"><strong>Introduction</strong></p>
                <div class="container">
                    <div fxFlex fxLayout="row wrap" fxLayout.sm="column" fxlayout.xs="column" fxFlexFill>
                        <div fxFlex routerLink="introduction/leoo/goldbach_introduction_1">
                            <mat-card class="intro-card" appearance="outlined">
                                <mat-card-content>Historical and biographical setting</mat-card-content>
                            </mat-card>
                        </div>
                        <div fxFlex routerLink="introduction/leoo/goldbach_introduction_2">
                            <mat-card class="intro-card" appearance="outlined">
                                <mat-card-content>Main subjects of the correspondence</mat-card-content>
                            </mat-card>
                        </div>
                        <div fxFlex routerLink="introduction/leoo/goldbach_introduction_3.1">
                            <mat-card class="intro-card" appearance="outlined">
                                <mat-card-content>Editing the Euler-Goldbach correspondence</mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </div>

            </div>

            <div class="leoo-section">
                <app-correspondence [project]="'leooIV'"></app-correspondence>
            </div>

        </section>

        <mat-divider></mat-divider>

        <section>
            <!--<h3 mat-card-subtitle>Leonhardi Euleri Commercium Epistolicum (LECE)</h3>-->
            <h2 mat-card-title>Correspondance d'Euler avec Condorcet et Turgot</h2>

            <div class="leoo-section">
                <div class="container">
                    <div fxFlex fxLayout="row wrap" fxLayout.sm="column" fxlayout.xs="column" fxFlexFill>
                        <div fxFlex routerLink="introduction/lece/CondorcetTurgot_preface">
                            <mat-card class="intro-card" appearance="outlined">
                                <mat-card-content>Préface</mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>
            <p fxLayout="column"><strong>Introduction</strong></p>
            <div class="container">
                <div fxFlex fxLayout="row wrap" fxLayout.sm="column" fxlayout.xs="column" fxFlexFill>
                    <div fxFlex routerLink="introduction/lece/CondorcetMJA_Introduction">
                        <mat-card class="intro-card" appearance="outlined">
                            <mat-card-content>Correspondance d'Euler avec Condorcet</mat-card-content>
                        </mat-card>
                    </div>
                    <div fxFlex routerLink="introduction/lece/Turgot_Introduction">
                        <mat-card class="intro-card" appearance="outlined">
                            <mat-card-content>Correspondance d'Euler avec Turgot</mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>
            <div class="lece-section">
                <app-correspondence [project]="'lece'"></app-correspondence>
            </div>
        </section>

        <mat-divider></mat-divider>

        <section>
            <!--<h3 mat-card-subtitle>BEBB</h3>-->
            <h2 mat-card-title>Basler Edition der Bernoulli-Briefwechsel</h2>
            <app-correspondence [project]="'bebb'"></app-correspondence>
        </section>

        <mat-divider></mat-divider>

        <section>
            <h3>Third Party Projects</h3>
            <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="1rem" fxLayoutAlign="space-around center">
                <app-correspondence [project]="'newton'"></app-correspondence>
                <app-correspondence [project]="'leibniz'"></app-correspondence>
            </div>
        </section>

        <mat-divider></mat-divider>

        <section>
            <h3>Visualizations</h3>
            <p>The BEOL and third party correspondence data are visualized as interactive 3D force-directed graphs which
                are also available in WebVR format. You can explore the correspondence network interactively at
                <a target="_blank" href="https://vis.beol.dasch.swiss/">vis.beol.dasch.swiss</a>.</p>
        </section>

        <mat-divider></mat-divider>

        <section>
            <h3 mat-card-subtitle>Technical background</h3>
            <p>
                BEOL is implemented within the
                <a target="_blank" href="https://docs.dasch.swiss/">DaSCH Service Platform</a> &mdash; a generic virtual research environment (VRE) for the humanities, built with
                <a target="_blank" href="https://www.npmjs.com/org/dasch-swiss">DSP-JS and DSP-UI libraries</a>.
            </p>
            <br/>
            <h3 mat-card-subtitle>About us</h3>
            <p>
                BEOL is a <a href="https://p3.snf.ch/project-166072" target="_blank">project</a> funded by the Swiss National Science Foundation. It is a collaboration between the
                <a target="_blank" href="https://bez.unibas.ch">Bernoulli Euler Centre</a> and the
                <a target="_blank" href="https://dhlab.unibas.ch">Digital Humanities Lab</a> (both University of Basel).
            </p>
            <br/>
            <h3 mat-card-subtitle>Feedback</h3>
            <p>
                In case you experience any problems using the BEOL platform or have suggestions on how to improve it,
                <br>please <a href="/contact">contact</a> us.
            </p>
            <br/>
            <h3 mat-card-subtitle>Impressum</h3>
            <p class="impressum">
                <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons Licence" class="ccIcon" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a>
                The contents on our website are licensed under a <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
            </p>
        </section>

    </div>
</div>
