<div class="full-size scroll-y-only">

    <dsp-progress-indicator *ngIf="isLoading" [color]="'#D88958'"></dsp-progress-indicator>

    <div *ngIf="!isLoading && props">

        <div class="sidebar">

            <button mat-stroked-button class="previousBtn" (click)="location.back()">
                <mat-icon>arrow_back</mat-icon>
                Previous
            </button>

        </div>

        <div class="main-content">
            <h1 *ngIf="name">{{name}}</h1>

            <section *ngIf="name === 'Jacob I Bernoulli'">
                <h2 mat-card-title>Jacob Bernoulli's Scientific Notebook (Meditationes)</h2>
                <div>
                    <mat-card class="intro-card" appearance="outlined"
                              (click)="searchForManuscriptEntries('http://rdfh.ch/0801/HSmk8KWbQjy6YCqnBrwYgA')">
                        <mat-card-content>Entries in the Meditationes</mat-card-content>
                    </mat-card>
                </div>
            </section>

        </div>
    </div>

</div>
