/* You can add global styles to this file, and also import other style files */
@import './src/app/dsp-ui-lib/style/dsp-ui';
//@import '@dasch-swiss/dsp-ui/src/assets/style/dsp-ui.scss';

/*** Angular Material Datepicker CSS ***/

kui-calendar-header {
  .mat-mdc-select {
    background: rgba(216, 137, 88, 1);;
    color: white;
    padding: 20px;
    margin-bottom: -20px;
    box-sizing: border-box;
  }

  .mat-mdc-select-value,
  .mat-mdc-select-arrow {
    color: #fff;
  }
}

.cdk-overlay-pane {
  .mat-datepicker-content {
    .mat-calendar {
      height: auto !important;
    }
  }
}

// override default CSS for dsp-ui viewer
span.rm-value, span.rm-comment {
  display: inline !important;
  font-size: 20px !important;
}

div{
  font-size: 20px !important;
}
