.divider-letter-metadata {
    margin: 40px 0;
}

.title {
    margin-bottom: 64px;
}

.names {
    text-transform: uppercase;
}

.previousBtn {
    color: #d88958;
    margin-top: 24px;
    justify-content: center;
  }