<kui-progress-indicator *ngIf="loading"></kui-progress-indicator>
<div class="full-size scroll-y-only" *ngIf="!loading && props">

    <div class="sidebar">

        <button mat-stroked-button class="previousBtn" (click)="location.back()">
            <mat-icon>arrow_back</mat-icon>
            Previous
        </button>

        <section>
            <h4 class="subheading-2">{{ontologyInfo?.getLabelForProperty(props?.title[0].propIri)}}</h4>
            <p class="margin-left" *ngFor="let title of props.title">{{title.getContent()}}</p>

            <div *ngIf="props.repertorium">
                <p>
                    <strong>
                        Repertorium number:
                    </strong>
                    <span>{{props.repertorium}}</span>
                </p>
            </div>

            <div *ngIf="props.figure[0]">
                <h4 class="subheading-2">{{ontologyInfo?.getLabelForProperty(props?.figure[0].propIri)}}</h4>
                <p class="margin-left">
                    <read-link-value *ngFor="let fig of props.figure" [valueObject]="fig"
                                     [ontologyInfo]="ontologyInfo"></read-link-value>
                </p>
            </div>

            <div *ngIf="props.replyTo[0]">
                <h4 class="subheading-2">
                    {{ontologyInfo?.getLabelForProperty(props?.replyTo[0].propIri)}}
                </h4>
                <p class="margin-left">
                    <read-link-value *ngFor="let rt of props.replyTo" [valueObject]="rt"
                                     [ontologyInfo]="ontologyInfo"></read-link-value>
                </p>
            </div>

            <div *ngIf="props.original[0]">
                <h4 class="subheading-2">{{ontologyInfo?.getLabelForProperty(props?.original[0].propIri)}}</h4>
                <mat-list>
                    <mat-list-item *ngFor="let orig of props.original">
                        <read-link-value [valueObject]="orig" [ontologyInfo]="ontologyInfo"></read-link-value>
                    </mat-list-item>
                </mat-list>
            </div>

            <div *ngIf="props.translation[0]">
                <h4 class="subheading-2">{{ontologyInfo?.getLabelForProperty(props?.translation[0].propIri)}}</h4>
                <p class="margin-left">
                    <read-link-value *ngFor="let trans of props.translation" [valueObject]="trans"
                                     [ontologyInfo]="ontologyInfo"></read-link-value>
                </p>
            </div>

            <div *ngIf="props.published[0]">
                <h4 class="subheading-2">{{ontologyInfo?.getLabelForProperty(props?.published[0].propIri)}}</h4>
                <mat-list>
                    <mat-list-item *ngFor="let pub of props.published">
                        <read-link-value [valueObject]="pub" [ontologyInfo]="ontologyInfo"></read-link-value>
                    </mat-list-item>
                </mat-list>
            </div>

            <div *ngIf="props.mentionedPerson[0]">
                <h4 class="subheading-2">{{ontologyInfo?.getLabelForProperty(props?.mentionedPerson[0].propIri)}}</h4>
                <mat-list>
                    <mat-list-item *ngFor="let mp of props.mentionedPerson">
                        <read-link-value [valueObject]="mp" [ontologyInfo]="ontologyInfo"></read-link-value>
                    </mat-list-item>
                </mat-list>
            </div>

            <div *ngIf="props.language[0]">
                <h4 class="subheading-2">{{ontologyInfo?.getLabelForProperty(props?.language[0].propIri)}}</h4>
                <p *ngFor="let lang of props.language; let last = last" class="margin-left">{{lang.getContent()}}
                    <span *ngIf="!last">, </span>
                </p>
            </div>

            <div *ngIf="props.subject[0]">
                <h4 class="subheading-2">{{ontologyInfo?.getLabelForProperty(props?.subject[0].propIri)}}</h4>
                <mat-list>
                    <mat-list-item *ngFor="let subj of props.subject">
                        <read-list-value [valueObject]="subj"></read-list-value>
                    </mat-list-item>
                </mat-list>
            </div>

        </section>

    </div>


    <div class="main-content">

        <section class="title center">
            <p>{{props.number}}</p>
            <p class="names">
        <span *ngFor="let author of props.author; let last = last">
          <read-link-value [valueObject]="author" [ontologyInfo]="ontologyInfo"></read-link-value>
          <span *ngIf="!last"> &amp; </span>
        </span>
                to
                <span *ngFor="let recipient of props.recipient; let last = last">
          <read-link-value [valueObject]="recipient" [ontologyInfo]="ontologyInfo"></read-link-value>
          <span *ngIf="!last"> &amp; </span>
        </span>
            </p>
            <p>
                <span *ngIf="props.location">{{props.location}}, </span>

                <span *ngIf="props.date.start">
          {{props.date.start.date | date: props.date.start?.format}}
          <span *ngIf="props.date.start.era">{{props.date.start?.era}}</span>
        </span>
                <span *ngIf="props.date.end">
          - {{props.date.end.date | date: props.date.start?.format}}
          <span *ngIf="props.date.end.era">{{props.date.end?.era}}</span>
        </span>
                <span *ngIf="props.date.start.calendar"> ({{props.date.start?.calendar}})</span>

            </p>
        </section>

        <section class="text">
            <read-text-value-as-html [valueObject]="props.text[0]" [ontologyInfo]="ontologyInfo"
                                     [bindEvents]="true"></read-text-value-as-html>
        </section>

        <section class="images">
            <!-- Check for incoming images -->
            <kui-still-image #OSDViewer
                             class="osd-viewer"
                             *ngIf="resource?.incomingStillImageRepresentations?.length > 0;"
                             (getImages)="changeOffsetForStillImageRepresentations($event)"
                             [images]="resource?.stillImageRepresentationsToDisplay"
                             [imageRangeStart]="0"
                             [imageRangeEnd]="4"
                             [imageChangeInterval]="5">
            </kui-still-image>
        </section>
    </div>
</div>
