.divider-letter-metadata {
    margin: 40px 0;
}

h4.subheading-2 {
  margin-bottom: 0 !important;
}

.mat-list-item {
  min-height: 36px !important;
  height: auto !important;
  margin: 6px 0;
}

.divider-image-viewer {
  margin-top: 110px;
}

.tei-link {
  text-align: right;
}
.editorSection {
  margin-bottom: 24px;
}

.editorList {
  margin-top: 10px !important;
}

.editorItemList {
  min-height: 24px !important;
  margin: 0 !important;
  font-size: 20px;
}
